<!DOCTYPE html>
<html>
<head>
	<title></title>
	
</head>
<body>
	<form action="/user/home" id="newArticleForm" enctype="multipart/form-data" method='post'>
 		<input type="text" name="title"  placeholder="Title" required>
 		<p></p>	
 		<textarea name="description" placeholder="Description" cols="20" rows="5" required> </textarea>
 		<p></p>
 		<textarea name="content" placeholder="Content" cols="40" rows="10" required> </textarea>
 		<p></p>
 		<input type="file" name="myFile" required>
 		<p></p>
 		<input type="submit"  value='Add'> 
 	</form>
 
 
 	
</body>
<script type="text/javascript" src=""></script>

</html>
