<!DOCTYPE html>
<html>
<head>
	<title></title>
	
</head>
<body>
 
 <a href='/user/home' ><h1>Home</h1> </a>
 <a href='/user/logout' ><h1>Logout</h1> </a>

 	
</body>
<script type="text/javascript" src=""></script>

</html>
