<!DOCTYPE html>
<html>
<head>
	<title></title>
	
</head>
<body>
 
 <a href='/login' ><h1>Login</h1> </a>
 <p> </p>
<a href='/register' ><h1>Register</h1> </a>
 	
</body>
<script type="text/javascript" src=""></script>

</html>



