<!DOCTYPE html>
<html>
<head>
	<title></title>
	
</head>
<body>
	<form action="" id="registerForm" method='post'>
 		<input type="text" name="name"  placeholder="Name" required>
 		<p></p>	
 		<input type="text" name="email"  placeholder="Email" required>
 		<p></p>
 		<input type="password" name="password"  placeholder="Password" required>
 		<p></p>
 		<input type="submit" id='btn' value='Register'>
 	</form>
 
 
 	
</body>
<script type="text/javascript" src=""></script>

</html>
